In [26]:
import os

In [27]:
os.getcwd()

'C:\\Users\\india\\Desktop\\Dataset'

In [28]:
os.chdir("C:/Users/india/Desktop/Dataset")

In [29]:
os.getcwd()

'C:\\Users\\india\\Desktop\\Dataset'

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [31]:
data2=pd.read_csv("JNTU Sample data.csv")

In [32]:
data2

,State,Division,Region,Branch,Route Code,Village Name,pincode,Center Name,Group Name,Name,Loan nature,Employee Name for clinet,Existing Loan amount,Loan Date,AGE,ID_DETAILS,ADHAAR NUMBER,Marital_Status,INCOMESOURCE,LoanStatus
0,Karnataka,KA 02,GOWRIBIDANUR,Gowribidanur,KGAWGAWD,Ramachandrapura,504273,Ramachandrapura,Rama,Vadand Geetaben,1,Valluru Vinod Kumar,182050,17-08-2013,31,348IL/19,8.230000e+15,Married,BUSINESS,NO
1,Karnataka,KA 02,VIJAYAPURAM,Vijaypura-2,KVIJVIBC,sadapana halli,504293,sadapanahalli new,sumithra 1,Co Patel Manjulaben,1,Prasanth,13325,19-06-2014,33,441OM-90,5.550000e+15,Married,AGRICULTURE,YES
2,Karnataka,KA 01,VIJAYAPURAM,Vijaypura-2,KVIJVIBC,yanagante,504307,yanagante,lakshmamma,Ghanchi Aminabibi,1,Prasanth,112780,30-06-2013,38,658YR/69,3.990000e+15,Married,AGRICULTURE,YES
3,Karnataka,KA 02,VIJAYAPURAM,Vijaypura-2,KVIJVIBC,yanagante,504001,yanagante,fincare,Ghanchi Farajanabanu,1,Prasanth,64290,16-05-2013,43,601YD-90,4.350000e+15,Married,DAIRY,NaN
4,Karnataka,KA 02,VIJAYAPURAM,Vijaypura-2,KVIJVIBC,sathyavara,504001,sathyavara,saibaba,Ghanchee Shabanabanu,1,Prasanth,43947,31-05-2014,40,390NV/51,5.110000e+15,Married,OTHER,YES
5,Karnataka,KA 02,VIJAYAPURAM,Vijaypura-2,KVIJVIBC,sathyavara,504001,sathyavara,preema,Saiyad Hamidabibi,1,Prasanth,12025,23-08-2013,19,557VI-41,2.030000e+15,Married,OTHER,YES
6,Karnataka,KA 02,NELAMANGALA,Nelamangala,KNELNELC,Baraganahalli,504273,Baraganahalli,Bhavani,Malek Parvinbanu,1,Bashkar,85392,15-12-2014,28,665DT/40,9.210000e+15,Married,AGRICULTURE,NO
7,Karnataka,KA 02,NELAMANGALA,Nelamangala,KNELNELC,Baraganahalli,504273,Baraganahalli,Basavanna,Fakir Kheranaben,1,Bashkar,137631,26-06-2013,41,635RX-88,5.150000e+15,Married,DAIRY,NO
8,Karnataka,KA 02,NELAMANGALA,Nelamangala,KNELNELC,Sompura N,504309,Huchaveerayanapalya,Sri Lakshmi,Sharma Minaben,1,Bashkar,100147,19-06-2013,45,419VJ/88,1.640000e+15,Married,AGRICULTURE,YES
9,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLB,Majara Dinnur,504201,Majarechaladinnur,Ganga3,AOD Shushilaben,1,Nukula Tejassriram,80731,15-10-2013,23,618DS-59,5.220000e+15,Married,AGRICULTURE,YES
10,Karnataka,KA 02,NELAMANGALA,Nelamangala,KNELNELC,Sompura N,504309,Huchaveerayanapalya,Saraswathi,Vidyaben Ramanbhai Sarma,1,Bashkar,77204,27-01-2014,41,332NA/54,7.930000e+15,Widowed,BUSINESS,YES
11,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLB,Majara Dinnur,504201,Majarechaladinnur,Lakshmi,Ghanchi Afsanabanu,1,Nukula Tejassriram,55029,09-03-2014,28,331EU-46,7.560000e+15,Married,OTHER,YES
12,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLB,Majara Dinnur,504201,Majarechaladinnur,Lakshmi,Makavana Hansaben,1,Nukula Tejassriram,224832,03-03-2016,36,589OO/55,6.700000e+15,Married,DAIRY,NaN
13,Karnataka,KA 02,NELAMANGALA,Nelamangala,KNELNELC,Honnenahalli,504231,Honnenahalli05,Parvathamma,Bhoi Kasheeben,1,Bashkar,166335,29-12-2013,40,153OL-40,4.080000e+15,Married,BUSINESS,YES
14,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLB,Majara Dinnur,504201,Majarechaladinnur,Lakshmi 3,Makvana Savitaben,1,Nukula Tejassriram,93530,11-10-2013,40,120JD/53,2.680000e+15,Married,OTHER,YES
15,Karnataka,KA 02,NELAMANGALA,Nelamangala,KNELNELC,Devaganahalli,504201,Devaganahalli,Chandra2,Leelaben Ratansingh Vaghela,1,Bashkar,68685,31-07-2013,38,514UA-33,5.210000e+15,Widowed,BUSINESS,YES
16,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLB,Gowdahalli,504299,Gowdahalli 1,Yallamma,Sushilaben Makavana,1,Nukula Tejassriram,180400,25-08-2015,27,682NX/72,2.600000e+15,Married,DAIRY,NO
17,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLB,Gowdahalli,504299,Gowdahalli 1,Yallamma2,Bhoi Madhuben,1,Nukula Tejassriram,66187,18-06-2014,46,454VM-60,6.990000e+15,Widowed,BUSINESS,NO
18,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLB,Chowdadenahalli,504299,Gowdahalli,Saraswathi,Bhoi Sarojben,1,Nukula Tejassriram,97969,09-07-2014,31,165GJ/39,3.720000e+15,Married,BUSINESS,YES
19,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLB,Gowdahalli,504204,Gowdahalli New,Srilakshmi,Waghela Kaelasben,1,Nukula Tejassriram,36326,31-07-2014,35,365PF-46,2.690000e+15,\n,BUSINESS,YES
20,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLB,Gowdahalli,504204,Gowdahalli New,Om Shakthi,Vimalaben Makavana,1,Nukula Tejassriram,124413,17-06-2013,44,329YV/11,9.070000e+15,Married,AGRICULTURE,YES
21,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLB,Gowdahalli,504204,Gowdahalli New,Peddamma,Bhoi Hansaben,1,Nukula Tejassriram,56772,26-12-2014,28,357MR-20,4.640000e+15,Married,AGRICULTURE,YES
22,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLB,Gowdahalli,504204,Gowdahalli New,Valmiki,Salat Sajjanben,1,Nukula Tejassriram,15079,15-01-2014,18,504YQ/13,6.760000e+15,Widowed,OTHER,YES
23,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLC,Thippenahalli,504294,Thippenahalli New,Srilakshmi,Patel Kokilaben Dineshbhai,1,Nukula Tejassriram,80522,07-06-2013,41,631BV-11,7.880000e+15,Married,BUSINESS,YES
24,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLC,Matapura,504201,Matapura,Shivaranjani,Salat Kunvarben,1,Nukula Tejassriram,218033,13-12-2015,46,339KA/72,8.540000e+15,Married,AGRICULTURE,YES
25,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLC,Thippenahalli,504293,Thippenahalli,Sree Ram,Mandola Jayaben,1,Nukula Tejassriram,42471,02-09-2014,27,687SQ-38,9.690000e+15,\n,OTHER,NO
26,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLC,Thippenahalli,504293,Thippenahalli,Bhavaneswari,Bhoi Alpaben,1,Nukula Tejassriram,141666,10-01-2016,37,648BO/58,8.140000e+15,Married,BUSINESS,YES
27,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLC,Thippenahalli,504293,Thippenahalli,Mahalakshmi,Salat Ramilaben,1,Nukula Tejassriram,109123,17-06-2014,31,684CM-19,6.230000e+15,Married,AGRICULTURE,YES
28,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLC,Thippenahalli,504293,Thippenahalli,Kusuma,Rabari Amarben Mafatbhai,1,Nukula Tejassriram,55408,27-02-2014,25,657YU/72,7.770000e+15,Married,FLOWER SELLER,NO
29,Karnataka,KA 01,KOLAR,Kolaramma,KKOLKOLC,Thippenahalli,504293,Thippenahalli,Bharathi,Salar Shakariben,1,Nukula Tejassriram,47626,08-12-2014,41,105BK-53,9.240000e+15,Widowed,DAIRY,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13405,Tamil Nadu,TN 01,MADURANTHAKAM,MGM Monthly,TMADMGMC,Vallam,533252,Vallam,Kamaraj,Parmar Kailasben,1,Jerold,55746,26-04-2015,23,643UQ-59,2.380000e+15,Married,NaN,NaN
13406,Tamil Nadu,TN 01,KANCHI,Kamatchi,TKANKAME,Perunagar,533248,Yadhava street,Thavam,Pandya Chetanaben,1,Sekar,30801,08-10-2015,43,501WM/65,5.810000e+15,Married,NaN,NaN
13407,Tamil Nadu,TN 01,KANCHI,Kamatchi,TKANKAME,Perunagar,533235,New colony,Ram 5,Kuraishi Shamimbanu,1,Sekar,65534,07-06-2014,18,447FQ-74,6.410000e+15,Married,NaN,NaN
13408,Tamil Nadu,TN 01,KANCHI,Kamatchi,TKANKAME,Perunagar,533229,Nadu colony,Ram 1,Meman Hanifa,1,Sekar,47349,18-07-2015,43,386HL/29,9.790000e+15,Widowed,NaN,NaN
13409,Tamil Nadu,TN 01,KANCHI,Kamatchi,TKANKAME,Perunagar,533247,Nadu colony,Ram 2,Muskinabibi maniar,1,Sekar,139679,09-05-2014,23,121TT-23,4.620000e+15,Married,NaN,NaN
13410,Tamil Nadu,TN 01,KANCHI,Kamatchi,TKANKAME,Perunagar,533247,Mgr nagar,Panithuli,Pathan Rukshanabibi,1,Sekar,52572,15-10-2015,18,540CM/66,9.720000e+15,Widowed,NaN,NaN
13411,Tamil Nadu,TN 01,KANCHI,Kamatchi,TKANKAME,Elanagar,533212,Road stt,Aruljothi,Saiyad Neelofarbanu,1,Sekar,19581,15-10-2015,26,513ET-20,7.570000e+15,Married,NaN,NaN
13412,Tamil Nadu,TN 01,MADURANTHAKAM,MGM Monthly,TMADMGMC,Nelvai,533221,Nelvai,Gunavathi,Maniyar Reshamabanu,1,Jerold,89081,12-01-2014,22,238PT/53,7.390000e+15,Married,NaN,NaN
13413,Tamil Nadu,TN 01,MADURANTHAKAM,MGM Monthly,TMADMGMC,Nelvai,533212,Nelvai,Anandham1,Shaikh Shahenajbanu,1,Jerold,125038,29-09-2013,44,129NX-75,1.780000e+15,Married,NaN,NaN
13414,Tamil Nadu,TN 01,MADURANTHAKAM,MGM Monthly,TMADMGMC,Nelvai,533210,Nelvai,Anandham2,Seendhi Shamshadbanu,1,Jerold,67681,08-06-2014,21,279AL/78,6.370000e+15,Married,NaN,NaN
13415,Tamil Nadu,TN 01,MADURANTHAKAM,MGM Monthly,TMADMGMC,Nelvai,533222,Nelvai,Anandham3,Darbar Bhagvatiben,1,Jerold,98748,15-04-2014,46,496VK-74,4.770000e+15,Married,NaN,NaN
13416,Tamil Nadu,TN 01,MADURANTHAKAM,MGM Monthly,TMADMGMC,Nelvai,533222,Nelvai,Anandham4,Sandhi Shahinbanu,1,Jerold,165600,28-05-2014,24,148RO/30,9.550000e+15,Married,NaN,NaN
13417,Tamil Nadu,TN 01,MADURANTHAKAM,MGM Monthly,TMADMGMC,Pukkathurai,533228,Pukkathurai,Gopikasri,Sandhi Shakerabibi,1,Jerold,182856,18-08-2015,26,369IW-90,8.990000e+15,Married,NaN,NaN
13418,Tamil Nadu,TN 01,MADURANTHAKAM,MGM Monthly,TMADMGMC,Mamandur,533235,Mamandur,Suthish,Parmar Rajiben,1,Jerold,203280,10-09-2014,18,288GI/34,2.360000e+15,Married,NaN,NaN
13419,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Jayarampeta,533215,Bypass Road 1,Srija 4,Thakor Chandrikaben,1,M. Karthik,67616,13-10-2015,42,265TW-61,1.400000e+15,Married,NaN,NaN
13420,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Ranipettai,533212,Jayarampettai,Roja,Sandhi Jamila,1,M. Karthik,204993,16-10-2015,25,146QS/92,7.810000e+15,Married,NaN,NaN
13421,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Walaja,533213,Dhanalakshmi Nagar,Hema,Rathod Ramjaben,1,M. Karthik,134435,07-10-2015,45,130AP-25,6.230000e+15,Married,NaN,NaN
13422,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Vanivedu,533222,Thendral Nagar 1,Frinds 1,Vijapura Sakeraben,1,M. Karthik,48619,10-05-2015,31,676JM/92,5.050000e+15,Married,NaN,NaN
13423,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Vanivedu,533216,Thendral Nagar,Lotus,Rathod Lilaben,1,M. Karthik,157361,18-01-2013,43,247VK-10,9.250000e+15,Widowed,NaN,NaN
13424,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Vanivedu,533250,Thendral Nagar,Friends,Sodagar Farjanabanu,1,M. Karthik,29719,10-06-2015,44,110NA/35,1.760000e+15,Married,NaN,NaN
13425,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Vanivedu,533244,Thendral Nagar 1,Friends ||,Rathod Shavuba,1,M. Karthik,74382,05-08-2014,33,149EZ-14,6.480000e+15,Married,NaN,NaN
13426,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Ranipettai,533229,Srinivasanpettai,Annaitheresa,Thakor Kailasben,1,M. Karthik,167037,16-10-2015,31,154VR/63,7.550000e+15,Married,NaN,NaN
13427,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Srinivasanpet,533240,Ambethkar Street 0,Athipookkal 2,Solanki Shantaben,1,M. Karthik,108636,12-01-2015,23,288NP-12,7.960000e+15,Married,NaN,NaN
13428,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Srinivasanpet,533217,Ambethkar Street 0,Athipookkal,Rathod Arunaben,1,M. Karthik,161696,02-02-2013,31,691VS/48,9.090000e+15,Married,NaN,NaN
13429,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Ranipattai,533223,Otteri,OK05,Bagwan Rukhinabanu,1,M. Karthik,211995,30-04-2014,47,137BN-60,3.210000e+15,Married,NaN,NaN
13430,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Ranipattai,533212,Otteri,OK6,Bajaniya Rupiben,1,M. Karthik,96109,21-01-2016,44,413FS/72,7.490000e+15,Married,NaN,NaN
13431,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Ranipettai,533244,Srinivasanpettai,OK4,Rathod Hansaba,1,M. Karthik,102966,11-04-2013,39,356CO-48,2.720000e+15,Married,NaN,NaN
13432,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Ranipattai,533274,Otteri,OK03,Sandhi Sidabanua,1,M. Karthik,51476,17-02-2013,33,115HU/78,8.000000e+15,Married,NaN,NaN
13433,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Ranipettai,533216,Srinivasanpettai,OK2,Dantani Bhavanaben,1,M. Karthik,180678,26-04-2015,33,279EA-90,6.820000e+15,Married,NaN,NaN
13434,Tamil Nadu,TN 02,RANIPETA,Walaja,TRANWALC,Ranipettai,533201,Srinivasanpettai,OK1,Mumin Shamimbanu,1,M. Karthik,53249,25-09-2014,32,376KP/84,4.690000e+15,Married,NaN,NaN

In [33]:
data2.isnull()

,State,Division,Region,Branch,Route Code,Village Name,pincode,Center Name,Group Name,Name,Loan nature,Employee Name for clinet,Existing Loan amount,Loan Date,AGE,ID_DETAILS,ADHAAR NUMBER,Marital_Status,INCOMESOURCE,LoanStatus
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13405,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13406,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13407,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13408,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13409,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13410,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13411,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13412,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13413,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13414,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13415,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13416,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13417,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13418,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13419,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13420,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13421,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13422,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13423,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13424,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13425,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13426,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13427,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13428,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13429,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13430,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13431,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13432,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13433,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
13434,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True

In [34]:
data2.describe()

,pincode,Loan nature,Existing Loan amount,AGE,ADHAAR NUMBER
count,13435.000000,13435.000000,13435.000000,13435.000000,1.343500e+04
mean,514413.112467,1.004838,119970.319762,33.101005,5.563284e+15
std,8956.411939,0.069391,63417.170414,8.913726,2.487175e+15
min,500001.000000,1.000000,10055.000000,18.000000,1.250000e+15
25%,506313.000000,1.000000,64990.000000,25.000000,3.420000e+15
50%,515832.000000,1.000000,120668.000000,33.000000,5.550000e+15
75%,521402.000000,1.000000,174660.500000,41.000000,7.710000e+15
max,534475.000000,2.000000,229988.000000,48.000000,9.870000e+15

In [35]:
data2.corr()

,pincode,Loan nature,Existing Loan amount,AGE,ADHAAR NUMBER
pincode,1.000000,-0.007323,-0.002371,-0.012817,0.009718
Loan nature,-0.007323,1.000000,0.018842,-0.006085,0.002008
Existing Loan amount,-0.002371,0.018842,1.000000,0.003833,0.019435
AGE,-0.012817,-0.006085,0.003833,1.000000,-0.003468
ADHAAR NUMBER,0.009718,0.002008,0.019435,-0.003468,1.000000

In [36]:
data2.apply(lambda x:sum(x.isnull()),axis=0)

State                          0
Division                       0
Region                         0
Branch                         1
Route Code                     0
Village Name                   0
pincode                        0
Center Name                    0
Group Name                     0
Name                           0
Loan nature                    0
Employee Name for clinet       0
Existing Loan amount           0
Loan Date                      0
AGE                            0
ID_DETAILS                     0
ADHAAR NUMBER                  0
Marital_Status                 0
INCOMESOURCE                3435
LoanStatus                  4941
dtype: int64

In [37]:
data2.dtypes

State                        object
Division                     object
Region                       object
Branch                       object
Route Code                   object
Village Name                 object
pincode                       int64
Center Name                  object
Group Name                   object
Name                         object
Loan nature                   int64
Employee Name for clinet     object
Existing Loan amount          int64
Loan Date                    object
AGE                           int64
ID_DETAILS                   object
ADHAAR NUMBER               float64
Marital_Status               object
INCOMESOURCE                 object
LoanStatus                   object
dtype: object

In [38]:
features=data2.iloc[::].values
features

array([['Karnataka', 'KA 02', 'GOWRIBIDANUR', ..., 'Married', 'BUSINESS',
        'NO'],
       ['Karnataka', 'KA 02', 'VIJAYAPURAM', ..., 'Married',
        'AGRICULTURE', 'YES'],
       ['Karnataka', 'KA 01', 'VIJAYAPURAM', ..., 'Married',
        'AGRICULTURE', 'YES'],
       ...,
       ['Tamil Nadu', 'TN 02', 'RANIPETA', ..., 'Married', nan, nan],
       ['Tamil Nadu', 'TN 02', 'RANIPETA', ..., 'Married', nan, nan],
       ['Tamil Nadu', 'TN 02', 'RANIPETA', ..., 'Married', nan, nan]],
      dtype=object)

In [39]:
labels=data2.iloc[:,-1].values
labels

array(['NO', 'YES', 'YES', ..., nan, nan, nan], dtype=object)

In [41]:
data2['INCOMESOURCE'].value_counts()

BUSINESS         3023
AGRICULTURE      2790
OTHER            1963
DAIRY            1016
FLOWER SELLER    1004
LAND              204
Name: INCOMESOURCE, dtype: int64

In [42]:
data2['LoanStatus'].value_counts()

YES    5965
NO     2529
Name: LoanStatus, dtype: int64

In [43]:
data2['Branch'].value_counts()

Doddaballapur           297
Visharam                271
Arani                   252
Walaja                  236
Gingee                  225
Arakkonam               218
Thiruvallur             212
Kollegal                209
Murugan                 203
Madapattu               201
Aranthangi              193
Thavarakere             184
Thirukovilur            182
Katpadi                 177
Mandya                  153
Ramnagar                153
Vellore                 152
Ulundurpet              150
Kamatchi                146
Krishnagiri             140
Gangavati               138
Kolaramma               137
Tiruvannamalai          136
Mulbagal Rural          136
Thirukovilur monthly    132
Hoskote                 130
Bagalur                 127
Hosur monthly           127
Chengam                 123
Chikbalapur             119
                       ...
Chennapatnna              2
kamatchi                  2
DAVANGERE3                2
Rannebennur1              2
Channapattana             2
BIHADEESHWARA             2
KR Nagara                 2
Villianur                 2
MUNBAGAL                  2
tiptur                    2
PUDHUKOTTAI               2
Chamarajnagar 3           2
Bethamangala 2            2
kaveri                    2
visharam                  2
Haveri 1                  2
Gandarvakotai             1
Chamarajnagar 2           1
Ranebennur                1
Gradarvakottai            1
Bethamangala1             1
Kavari                    1
Katpafi                   1
Bharavathi                1
Arakesweara               1
BELGUAM                   1
TPATPATE                  1
Davangere3                1
g                         1
Twkal                     1
Name: Branch, Length: 350, dtype: int64

In [44]:
data2['INCOMESOURCE'].fillna('BUSINESS',inplace=True)

In [45]:
data2['LoanStatus'].fillna('YES',inplace=True)

In [46]:
data2['Branch'].fillna('Doddaballapur',inplace=True)

In [47]:
data2.apply(lambda x:sum(x.isnull()),axis=0)

State                       0
Division                    0
Region                      0
Branch                      0
Route Code                  0
Village Name                0
pincode                     0
Center Name                 0
Group Name                  0
Name                        0
Loan nature                 0
Employee Name for clinet    0
Existing Loan amount        0
Loan Date                   0
AGE                         0
ID_DETAILS                  0
ADHAAR NUMBER               0
Marital_Status              0
INCOMESOURCE                0
LoanStatus                  0
dtype: int64

In [ ]:
from